/* Typography */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  /* Font smoothing */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  margin: 0;
}
