// Reset

body 
  // -moz-osx-font-smoothing: grayscale
  // -webkit-font-smoothing: antialiased

a
  // text-decoration none
  // display inline-block
  // padding 0 5px
  // margin 0 -5px
  color $color-link
  // border-bottom 1px solid $color-link
  &:hover
    // background-color yellow
    background-color rgba($color-link, 0.1)
